.navbar{
  background-color: navy
}
.btn {
  margin-right: 5px;
}
.res-form{
  max-width: 300px
}
.table-form{
  max-width: 500px;
}
.form-label{
  color: white
}
.whitetext{
  color: white
}
thead {
  background-color: white;
}
tr:hover {
  background-color: white;
}
body {
  background-color: white;
}

